<div class="backdrop" *ngIf="playerVisibilityState === 'open'" (click)="close()"></div>
<div class="player">
  <div class="container"
       [@slideInOut]="playerVisibilityState"
       [ngClass]="playerVisibilityState"
       (click)="toggle()"
  >
    <div class="row">
      <div class="display">
        <div class="status">{{state | playerState}}</div>
      </div>
      <div class="speaker-grill"></div>
    </div>
    <div class="cassette-container">
      <app-cassette-tape
        *ngIf="isPlayerActive"
        [tapeLengthMin]="tapeLength"
        [tapeName]="tapeName"
        [currentSide]="tapeSide"
        [playbackTimeSec]="playbackTime"
        [state]="state"
      ></app-cassette-tape>
    </div>

    <div class="button-row">
      <button (click)="rewind()" class="fr" [class.active]="state === 'fast-rewind'" title="巻き戻し"><fa-icon [icon]="faBackward"></fa-icon></button>
      <button (click)="play()" class="play" [class.active]="state === 'play' && isPlayerActive" title="再生"><fa-icon [icon]="faPlay"></fa-icon></button>
      <button (click)="pauseAndStop()" class="stop" title="停止" [class.active]="state === 'stop' && isPlayerActive"><fa-icon [icon]="faStop"></fa-icon></button>
      <button (click)="fastForward()" class="ff" title="早送り" [class.active]="state === 'fast-forward'"><fa-icon [icon]="faForward"></fa-icon></button>
      <button (click)="flip()" class="eject" title="A面とB面を切り替えます"><fa-icon [icon]="faEject"></fa-icon></button>
    </div>
  </div>
</div>
